/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 *
 */

 .contact-us {
   background: url(https://cdn.europosters.eu/image/1300/wall-murals/london-aerial-view-i25259.jpg);
   background-repeat: no-repeat;
   background-size: cover;
 }

 h3{
   background-color: #217346;
   padding: 20px;
   font-style: normal;
   width:inherit;
 }

body {
  background-color: #3B4A3F;
  font-family: 'Poppins', sans-serif;
}

h4 {
  font-style:
}

#heading2 {
  font-size: 32px;
}


.sidenav {
  background-color: #d9d9d9;
  color: #222;
}

nav ul a,
nav .brand-logo {
  color: #222;
}

.img-fluid {
  height: inherit;
}

.btn-large {
  text-transform: none;
  font-size: 22px;
  background-color: #007587;
}

p {
  line-height: 2rem;
  font-size: 16px;
}

.boxed {
  color: white;
  font-size: 16px;

}

#video {
  width: 100%;
  height: auto;
  float: none;
}

#footer{
  background-color: #217346;
  margin: 5;
  padding-bottom: 0;
}

.list {
  font-size: 16px;
  color: white;
}

.sidenav-trigger {
  color: #222;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #222;
}

.container1 {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: helvetica;
  font-size: 14px;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

select.dropdown {
  width: 350px;
  height: 45px;
  padding: 5px;
  margin: 0 0 7px;
  font: helvetica;
  font-size: 14px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 7px;
  padding: 0px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  width: 100%;
  resize: none;
  margin: 0 0 -3px;
  padding: 0px;
  font: helvetica;
  font-size: 14px;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #217346;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  font: helvetica;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: black;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
